body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }

  .container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }

  h2 {
    text-align: center;
    color: #333;
  }

  #todoList {
    list-style: none;
    padding: 0;
  }

  .todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .completed {
    text-decoration: line-through;
  }

  .todoItem span{
    flex-basis: 70%;
    margin: 0 .5em;
  }

  .todoItem button{
    flex-basis: 10%;
    margin: 0 .5em;
  }

  /* .todoItem input[type="checkbox"] {
    margin-right: 10px;
  } */

  .addTodo {
    display: flex;
    margin-top: 20px;
  }

  .addTodo input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .addTodo button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 .5em;
  }